.carousel-item img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.4);
}

.client-photo-container > img {
    width: 120px;
    height: 120px;
    object-fit:cover;
}

.product-card {
    /* height: 400px; */
    width: 33.3%;
}

.card-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.img-card-top {
    object-fit: contain;
    height: 100px !important;
}