<div class="card shadow mx-2 product-card">
    <a class="detail-link" href="{% url 'product_detail' product.slug %}">
        <img class="card-img-top" src="{{ product.image.url }}">
    </a>

    <a class="detail-link" href="{% url 'product_detail' product.slug %}">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text text-muted">{{ product.description }}</p>
            <p class="card-price fw-bold">R$ {{ product.price }}</p>
            <a class="btn btn-success" href="#">Adicionar ao Carrinho</a>
        </div>
    </a>
</div>