html, body {
    height: 100vh;
}

main {
    height: 90%;
}

.menu-list {
    list-style-type: none;
    list-style-position: outside;
}

.header-link {
    position: relative;
}

.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0056b3;
    transition: width 0.3s ease;
}

.header-link:hover::after {
    width: 100%;
}

.header-link {
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.user-welcome-text {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px;
}

.logout-link {
    color: var(--bs-danger) !important;
}

@media screen and (max-width: 520px) {
    html, body, main{
        width: auto;
        height: auto;
    }

    .menu-container {
        display: none;
    }

    /* .user-info-container {
        display: none !important;
    } */

    .menu-mobile-container {
        display: block !important;
    }

    .dropdown-menu-mobile > .dropdown-toggle {
        border: none !important;
        background-color: transparent !important;
    }

    .dropdown-menu-mobile > ul.dropdown-menu {
        width: 100% !important;
        position: fixed !important;
    }

    .dropdown-menu-mobile > ul.dropdown-menu > li {
        margin: 20px 0;
    }

    .user-auth-link {
        font-size: 1em;
    }
}