{% extends 'index.html' %}
{% load static %}

{% block title %}Produtos{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'products/css/category.css' %}">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section class="container p-3 products-list-section">
    <div class="mt-5 category-container">
        <div class="text-center category-header-container">
            <h2>Categorias</h2>
        </div>

        <div class="mt-4 py-2 category-content-container">
            <ul class="row">
                <li class="col text-center"><a class="header-link" href="?category=camisas"><h3>Camisas</a></h3></li>
                <li class="col text-center"><a class="header-link" href="?category=blusas"><h3>Blusas</a></h3></li>
                <li class="col text-center"><a class="header-link" href="?category=calças"><h3>Calças</a></h3></li>
                <li class="col text-center"><a class="header-link" href="?category=bermudas"><h3>Bermudas</a></h3></li>
            </ul>
        </div>
    </div>
</section>

<section class="container p-3 products-container">
    <div class="text-center products-header-container">
        <h2>Produtos</h2>
    </div>

    <div class="d-flex justify-content-center my-4 py-2 products-content-container">
        {% if products %}
            {% for product in products %}
                {% include 'components/_product-card.html' %}
            {% endfor %}
        {% else %}
            <div class="text-center null-products-container">
                <p>Por enquanto não estamos com nenhum produto.</p>
            </div>
        {% endif %}
    </div>

    {% include 'components/_pagination.html' %}
</section>
{% endblock %}