.products-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.product-card {
    flex: 1 1 calc(33.3% - 16px);
    max-width: 20%;
    box-sizing: border-box;
    min-height: 400px;
    min-width: 250px; /* Depois ver qual largura fica melhor */
}

.card-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    height: 400px !important;
}