.products-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.product-card {
    flex: 1 1 calc(33.3% - 16px);
    max-width: 20%;
    box-sizing: border-box;
    min-height: 500px;
    min-width: 400px; /* Depois ver qual largura fica melhor */
}

.card-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around !important;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    height: 400px !important;
}

.detail-link {
    text-decoration: none !important;
    color: inherit;
}

@media screen and (max-width: 520px) {
    .category-header-container h2 {
        font-size: 2em;
        border-bottom: 1px solid #333;
        padding-bottom: 5px;
    }

    .category-content-container ul.row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .products-container {
        width: 100% !important;
    }

    .products-header-container h2 {
        font-size: 2em;
        border-bottom: 1px solid #333;
        padding-bottom: 5px;
    }

    .products-content-container {
        width: 100% !important;
        padding: 0 10px !important;
    }

    .product-card {
        min-width: 100% !important;
        gap: 10px;
        margin: 10px 0;
    }

    .card-img-top {
        width: auto important;
    }
}