main{
    display: flex;
}

.sidebar-container {
    background-color: #343a40;
    min-width: 15%;
    color: #fff;
}

.sidebar-header-content h2 {
    font-weight: bolder;
    color: #f8f9fa;
}

.sidebar-content ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

.sidebar-content ul li > a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: initial !important;
}

div.dropdown-center > .dropdown-toggle {
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    font-family: Arial;
    color: #fff;
}

a.dropdown-item {
    background-color: #6c757d;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
}

div.dropdown-center > ul.dropdown-menu a {
    font-size: 0.9em;
}

div.dropdown-center > ul.dropdown-menu a:hover {
    background-color: var(--bs-success);
    border-radius: 5px;
}