{% extends 'home.html' %}
{% load static %}

{% block title %}
Criar Novo Produto - ADMIN
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center form-create-container">
    <div class="my-3 form-create-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group my-3">
                {{ form.title }}
            </div>

            <div class="form-group my-3">
                {{ form.description }}
            </div>

            <div class="form-group my-3">
                {{ form.price }}
            </div>

            <div class="form-group my-3">
                {{ form.category }}
            </div>
            
            <div class="form-group my-3">
                {{ form.stock }}
            </div>
            
            <div class="form-group my-3">
                {{ form.slug }}
            </div>

            <div class="form-group my-3">
                {{ form.image }}
            </div>

            <div class="form-group d-flex justify-content-center">
                <input class="btn btn-success mx-1" type="submit" value="Criar">
                <a class="btn btn-secondary mx-1" href="{% url 'admin_list' %}">Voltar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}